
body{
	background-color: rgb(240, 240, 240) !important;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-banner-dgpe{
    margin-top: 30px !important;
}

.img-menu-seg{
    width: 100% !important;
}

.banner-container{
    width: 100% !important;
    height: 80px !important;
    overflow-y: hidden !important;
    margin-bottom: 2% !important;
    background: linear-gradient(90deg, rgba(0, 123, 255, 1) 0%, rgba(250, 0, 0) 50%, orange 100% ) !important;
}

.img-banner{
    position: absolute;
    height: 75% !important;
    right: 10% !important;
    object-fit: contain !important;
    overflow-y: hidden !important;
}

.title-page-evaluacion-educativa{
    position: absolute;
    font-size: 40px;
    color: white !important;
    margin-top: 13px !important;
    margin-left: 7% !important;
    font-family: 'Baloo 2';
    font-weight: bold;
}

*/
/* VERSIÓN CON EL MENÚ CORTO
.banner-container{
    width: 99% !important;
    height: 160px !important;
    overflow-y: hidden !important;
    margin-bottom: 2% !important;
    background: linear-gradient(90deg, rgba(0, 123, 255, 1) 0%, rgba(250, 0, 0) 50%, orange 100% ) !important;
}

.img-banner{
    position: absolute;
    height: 85% !important;
    right: 10% !important;
    object-fit: fill !important;
    overflow-y: hidden !important;
}

.title-page-evaluacion-educativa{
    position: absolute;
    font-size: 45px;
    color: white !important;
    margin-top: 16px !important;
    margin-left: 10% !important;
    font-family: 'Baloo 2';
    font-weight: bold;
}
*/

.img-banner-epe{
    width: 100% !important;
}

.rounded-form{
    border-radius: 20px !important;
}

.rounded-form-25{
    border-radius: 25px !important;
}


.row{
    margin-right: 0px !important;
}

.introduction-container{
    background-color: white !important;
}

.container-text{
    padding: 0 5% 0 5% !important;
}

.epe-img-banner-container{
    margin: 3% 5% 0 5% !important;
}

.card-text{
    text-align: justify !important;
}

.card-title{
    margin-bottom: 20px !important;
}

.tab-content-style{
    padding: 2% 0 2% 0 !important;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    border-left: 1px solid rgba(230, 230, 230, 1);
    border-right: 1px solid rgba(230, 230, 230, 1);
}

.tab-pane{
    border-radius: 20px !important;
}

/* #v-pills-tabContent */

.jumbotron{
    border: 1px solid rgba(220, 220, 220, 1) !important;
    border-radius: 15px !important;
}

.epe-nav-flush{
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.epe-nav-item-inicio{
    background-color: rgba(0, 123, 255, 1) !important;
    color: white !important;
    margin-right: 10px !important;
}

.epe-nav-item-inicio:hover{
    background-color: rgba(0, 123, 255, 0.7) !important;
    color: white !important;
}

.epe-nav-item{
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 15px !important;
    color: black;
    padding-right: 35px !important;
}

.epe-nav-item{
    border-top: 1px solid rgba(220, 220, 220, 1);
    border-bottom: 0 !important;
    border-radius: 0 !important;
}

.dropdown-evaluacion-educativa:last-child{
    border-bottom: 1px solid rgba(220, 220, 220, 1);
}

.epe-nav-item:hover{
    background-color: rgba(235, 235, 235, 0.4) !important;
    color: black !important;
}

.epe-nav-item.active{
    background-color: rgba(230, 230, 230, 1) !important;
    border-left: 4px solid rgba(0, 123, 255, 1) !important;
    color: black !important;
}

.card-body-style{
    margin: 20px 18px !important;
    padding: 0px !important;
}

.card-evaluaciones-nacionales-docs{
    overflow-y: auto !important;
}

/* ESTILOS PARA EL MENU VERTICAL */

.epe-menu-evaluacion-educativa.menu-evaluacion-educativa-active-item{
    background-color: rgba(230, 230, 230, 1) !important;
    border-left: 4px solid rgba(0, 123, 255, 1) !important;
    color: black !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgba(230, 230, 230, 1) !important;
    border-left: 4px solid rgba(0, 123, 255, 1) !important;
    color: black !important;
}

.dropdown-evaluacion-educativa:hover{
    cursor: pointer !important;
}

.dropdown-menu-depype{
    left: 10px !important;
    border-radius: 6px !important;
    transform: translate3d(210px, -110px, 0px) !important;
    border-left: 6px solid rgba(0, 123, 255, 1) !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.dropdown-menu-depype a{
    border-radius: 8px !important;
}

.dropdown-menu-depype a:hover{
    background-color: rgba(235, 235, 235, 0.8) !important;
}

.dropright .dropdown-toggle::after {
    position: absolute;
    right: 15px !important;
    vertical-align: middle;
    bottom: 45%;
}
.dropright .dropdown-toggle::after {
    display: absolute !important;
    width: 7px;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0.4em solid transparent;
    border-bottom: 0.4em solid transparent;
    border-left: 0.4em solid;
    right: 10px !important;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px 1.5rem;
}

.dropdown-divider {
    margin: 5px 0 !important;
}

.accordion-menu{
    margin-top: 15px !important;
}

.card-menu-item{
    border: 0 !important;
    border-top: 1px solid rgba(230, 230, 230, 1);
    height: auto;
}

.card-menu-item-header{
    margin-bottom: 2px;
    padding: 5px 0px 5px 0px !important;
    background-color: white !important;
}

.card-menu-item-header:hover{
    background-color: rgba(0, 123, 255, 0.1) !important;
    color: #007bff !important;
    cursor: pointer;
    border-radius: 6px !important;
}

.card-menu-item-header.active{
    background-color: #007bff !important;
    color: white !important;
    border-radius: 6px !important;
}

.btn-link{
    text-decoration: none !important;
    font-size: 16px !important;
    white-space: normal !important;
    text-align: left !important;
    padding: 8px 11px 8px 8px !important;
}

.txt-title-menu{
    display: flex;
    margin: 0 !important;
}

.icon-menu{
    color: #007bff;
    margin-right: 12px;
    float: left;
    font-size: 24px;
}

.card-body-MenuDEPyPE, .card-body-EvaluacionEducativa, .card-body-ProgramasProyectos{
    padding: 5px 0px 15px 22px !important;
}

.col-depe-menu{
    padding-right: 2px !important;
}

.card-main-menu{
    width: 100%;
    margin-bottom: 30px !important;
    margin-top: 0 !important;
}

.left {
    float: left !important;
    margin-right: 15px;
}

.right {
    float: right !important;
    margin-left: 15px;
}

/* SUBMENU PARA EL DEPyPE */

.dropdown-menu{
    margin: 1px 5px 1px 15px !important;
    padding-left: 10px;
    border-left: 6px solid #007bff !important;
    border-radius: 8px !important;
}

.dropdown-menu .dropdown-item{
    background-color: white !important;
    width: 97% !important;
    border-radius: 8px;
}

.dropdown-item:hover{
    background-color: rgba(230, 230, 230, 0.8) !important;
}

.depype-page-container{
    padding-top: 30px;
    background-color: white;
}

.title-page-depype{
    font-size: 38px;
    font-family: 'Baloo 2';
    font-weight: bold;
}

.nav-pills-submenu-depype{
    flex-wrap: inherit !important;
    align-items: center !important;
    vertical-align: middle !important;
}

.depype-title-subprogram{
    font-family: 'Baloo 2';
    font-weight: bold;
}

.depype-peeme-title{
    font-size: 28px !important;
    font-family: 'Baloo 2';
    font-weight: bold;
    margin-bottom: 25px !important;
}

/* ESTILOS PARA LAS TARJETA DE EVALUACIONES */

.evaluaciones-internacionales-container, .evaluaciones-nacionales-container{
    padding-top: 40px !important;
}

.card-body-evaluaciones-internacionales{
    padding: 0 25px 35px 25px !important;
}

.card-body-evaluaciones-nacionales{
    padding: 0 30px 25px 30px !important;
}

.card-title{
    color: #2ea3f2;
}

.card-image-container-planea-basica, .card-image-container-planea-ms{
    padding: 25px 40px 30px 50px !important;
    width: 100% !important;
}

.card-image-container-planea-basica{
    padding: 25px 0px 30px 50px !important;
    width: 100% !important;
}

.text-descripcion-departamento{
    text-align: justify !important;
}

/* INFORMACIÓN DE CADA EVALUACIÓN Y SUS ARCHIVOS */

.mb-60px{
    margin-bottom: 60px !important;
}

/*
.card-evaluacion{
    height: 390px !important;
}
*/

.col-evaluacion-info{
    padding-right: 0 !important;
}

.card-image-container{
    padding: 10px 10px 0px 10px !important;
    margin:   0px  0px 10px  0px !important;
    width: 100% !important;
}

.container-img-talis{
    padding: 10px 10px 0 10px !important;
}

.card-body-text-content{
    padding: 0 0px 20px 30px !important;
}

.btn-evaluacion-info{
    position: absolute;
    bottom: -22px;
    width: auto !important;
    margin-left: 33% !important;
    transform: translateX(-100%);
    padding: 10px 25px !important;
    color: white !important;
}


.col-v-divider{
    padding-left: 0 !important;
}

.v-divider{
    position: absolute;
    height: 80% !important;
    width: 1px !important;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.125) !important;
    right: 30%;
}


.col-evaluacion-documentos{
    padding-left: 0 !important;
    overflow-y: auto !important;
    height: 380px !important;
}
    
.list-group{
    margin: 10px 10px 10px 25px !important;
    border-radius: 25px !important;
}

.type-document-align{
    position: absolute;
    right: 20px !important;
    font-style: normal;
}

#tabs-docs-evaluacion{
    margin: 15px 10px 15px 10px !important;
}

.tab-content-docs{
    height: 71% !important;
    margin-top: -15px !important;
    margin-left: -15px !important;

    overflow: auto !important;
}

/* --------------------------------------------- */

/* CARD REVEAL */

.card-evaluacion{
    
}

.card .card-image{
    overflow: hidden;
    border-radius: 20px;
}

.img-ecea{
    display: block;
    width: 75% !important;
    margin: auto;
}

.card{
    font-family: 'Roboto', sans-serif; 
    margin-top: 10px;
    position: relative;
}

.card .card-content {
    padding: 10px;    
}

.card .card-content .card-title, .card-reveal .card-title{
    font-size: 24px;
    font-weight: 200;    
}

.card-content-talis{
    padding-top: 0 !important;
}

.card-content-ecea{
    padding-bottom: 40px !important;
}

.card .card-action{
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a{
    font-size: 15px;
    color: #ffab40;
    text-transform:uppercase;
    margin-right: 20px;    
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.card .card-action a:hover{    
    color:#ffd8a6;
    text-decoration:none;
}

.card .card-reveal{    
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
    left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;    
}

.card .card-reveal p{
    color: rgba(0, 0, 0, 0.71);
    margin:20px ;
}

.card-title-docs-evaluacion{
    color: #007bff !important;
    font-weight: 400 !important;
}

.container-img-evaluacion-talis{
    padding-bottom: -0 !important;
}

.docs-container-talis, .docs-container-planea{
    margin-top: 20px !important;
    width: 100%;
    height: 82%;
    overflow: auto;
}

.list-group-item:hover{
    cursor: pointer !important;
}

.list-group-talis, .list-group-docs-planea{
    margin: 0 !important;
}

.btn-info-pisa, .btn-info-talis, .btn-info-planea,
.btn-info-ecea{
    position: absolute;
    bottom: -25px;
    width: 60% !important;
    margin-left: 50% !important;
    transform: translateX(-55%);
    padding: 10px 25px !important;
}

.btn-reveal-docs-pisa, .btn-reveal-docs-talis,
.btn-reveal-docs-planea, .btn-reveal-docs-ecea{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(230, 230, 230, 0.8);
    border: 1px solid rgba(210, 210, 210, 0.6);

    width: 40px;
    height: 40px;
    padding: 7px 5px 5px 5px;
    font-size: 18px;
    border-radius: 50% !important;
}

.btn-reveal-docs-pisa:hover, .btn-reveal-docs-talis:hover,
.btn-reveal-docs-planea:hover, .btn-reveal-docs-ecea:hover{
    background-color: rgba(210, 210, 210, 0.8);
}

.btn-close-card-reveal{
    width: 40px !important;
    height: 40px !important;
    padding: 5px !important;
    border-radius: 50% !important;
    background-color: rgba(220, 220, 220, 0.8) !important;
}

.text-list-item{
    width: 90% !important;

}

/* --------------------------------------------- */


/* NORMATIVA */

.list-group-normativa{
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 25px !important;
}

.list-group-item-normativa:hover{
    cursor: pointer !important;
}

.list-group-item-normativa:first-child{
    border-top-right-radius: 28px !important;
    border-top-left-radius: 28px !important;
}

.list-group-item-normativa:last-child{
    border-bottom-right-radius: 28px !important;
    border-bottom-left-radius: 28px !important;
}

.box-shadow-style{
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0 rgba(60, 64, 67, 0.15) 0 1px 3px 1px !important;
    /*box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;*/
}
