
body{
	background-color: rgb(240, 240, 240);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner-container{
    width: 99% !important;
    height: 160px !important;
    overflow-y: hidden !important;
    margin-bottom: 2% !important;
    background: linear-gradient(90deg, rgba(0, 123, 255, 1) 0%, rgba(250, 0, 0) 50%, orange 100% ) !important;
}

.img-banner{
    position: absolute;
    height: 85% !important;
    right: 10% !important;
    object-fit: fill !important;
    overflow-y: hidden !important;
}

.text-evaluacion-educativa{
    position: absolute;
    font-size: 45px;
    color: white !important;
    margin-top: 16px !important;
    margin-left: 10% !important;
    font-family: 'Baloo 2';
    font-weight: bold;
}

.box-shadow-style{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}

.img-banner-epe{
    width: 100% !important;
}

.rounded-form{
    border-radius: 6px !important;
}

.row{
    margin-right: 0px !important;
}

.introduction-container{
    background-color: white !important;
}

.container-text{
    padding: 0 5% 0 5% !important;
}

.epe-img-banner-container{
    margin: 3% 5% 0 5% !important;
}

.card-text{
    text-align: justify !important;
}

.card-title{
    margin-bottom: 20px !important;
}

.tab-content-style{
    padding: 2% 0 2% 0 !important;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    border-left: 1px solid rgba(230, 230, 230, 1);
    border-right: 1px solid rgba(230, 230, 230, 1);
}

.epe-nav-flush{
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.epe-nav-item-inicio{
    background-color: rgba(0, 123, 255, 1) !important;
    color: white !important;
    margin-right: 10px !important;
}

.epe-nav-item-inicio:hover{
    background-color: rgba(0, 123, 255, 0.7) !important;
    color: white !important;
}

.epe-nav-item{
    background-color: rgba(255, 255, 255, 0.7);
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    font-size: 15px !important;
    color: black;
}

.epe-nav-item:hover{
    background-color: rgba(235, 235, 235, 0.4) !important;
    color: black !important;
}

.epe-nav-item.active{
    background-color: rgba(230, 230, 230, 1) !important;
    border-left: 4px solid rgba(0, 123, 255, 1);
    color: black !important;
}

.card-body-style{
    margin: 20px 10px 20px 10px !important;
    padding: 0px !important;
}

/* ESTILOS PARA EL MENU VERTICAL */

.accordion-menu{
    margin-top: 15px !important;
}

.card-menu-item{
    border: 0 !important;
    border-top: 1px solid rgba(230, 230, 230, 1);
    height: auto;
}

.card-menu-item-header{
    margin-bottom: 2px;
    padding: 5px 0px 5px 0px !important;
    background-color: white !important;
}

.card-menu-item-header:hover{
    background-color: rgba(0, 123, 255, 0.1) !important;
    color: #007bff !important;
    cursor: pointer;
    border-radius: 6px !important;
}

.card-menu-item-header.active{
    background-color: #007bff !important;
    color: white !important;
    border-radius: 6px !important;
}

.btn-link{
    text-decoration: none !important;
    font-size: 16px !important;
    white-space: normal !important;
    text-align: left !important;
    padding: 8px 11px 8px 8px !important;
}

.txt-title-menu{
    display: flex;
    margin: 0 !important;
}

.icon-menu{
    color: #007bff;
    margin-right: 12px;
    float: left;
    font-size: 24px;
}

.card-body-MenuNormativa, .card-body-EvaluacionEducativa, .card-body-ProgramasProyectos{
    padding: 5px 0px 15px 22px !important;
}

.col-depe-menu{
    padding-right: 2px !important;
}
